

h1 {
    margin-top: 10px;
    color: rgba(255, 0, 0, 0.473);
    font-family: Papyrus;
    font-size: 90px;
}
h2 {
    color: rgb(49, 95, 72);
    font-family: Papyrus;
    font-size: 80px;
}
h3 {
    color: black;
    font-family: Papyrus;
    font-size: 50px;
}
